# Umicore DCF Valuation Model

## Table of contents

- [Setup and Imports](#setup-and-imports)
- [Cost of Capital](#cost-of-capital)
    - [Cost of Equity](#cost-of-equity)
    - [Cost of Debt](#cost-of-debt)
    - [Cost of Preferred Stock](#cost-of-preferred-stock)
- [DCF](#dcf)

## Setup and Imports

In [38]:
from dataclasses import dataclass

import numpy as np
import pandas as pd
import numpy_financial as npf

from dataloader.data_loader_inputs import DataLoaderInputs
from dataloader import data_loader

from cost_of_capital.wacc_inputs import WaccInputs
from cost_of_capital import wacc

from model_data.model_inputs import ModelInputs
import dcf_module as dcf

from adjustments import operating_leases as opl
from adjustments import r_and_d as rd

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
model_data = ModelInputs()
data = model_data

## Company Overview

Umicore SA operates as a materials technology and recycling company worldwide. The company operates through Catalysis, Energy & Surface Technologies, and Recycling segments. 

The Catalysis segment produces automotive catalysts for gasoline, and diesel light and heavy-duty diesel applications; stationary catalysis for industrial emissions control; and precious metals-based compounds and catalysts for use in the pharmaceutical and fine chemicals industries, as well as fuel cell applications. 

The Energy & Surface Technologies segment offers cobalt and specialty materials, rechargeable battery materials, and electro-optic materials, as well as metal deposition solutions, including electroplating and PVD coating. 

The Recycling segment treats waste streams containing precious and other specialty metals from a range of industrial residues and end-of-life materials. This segment also produces precious metals-based materials for glass production, electric, and electronic applications. 

The company was formerly known as Union Mini√®re du Haut Katanga and changed its name to Umicore SA in 2001. Umicore SA was founded in 1805 and is headquartered in Brussels, Belgium.

## Cost of Capital

### Cost of Equity

In [8]:
# cost of equity components:
#   riskfree rate mature market + country spread
#   levered beta for company from businesses it is active in
#   company erp for countries where it does business

### Riskfree Rate

### Cost of Debt

### Cost of Preferred Stock

### Cost of Capital

In [9]:
wacc.cost_of_capital_df(data)

                 Market Value    Weight  Cost of Component
Equity           7.823200e+06  0.801808           0.144809
Debt             1.933748e+06  0.198192           0.029426
Preferred Stock  0.000000e+00  0.000000           0.071429

In [10]:
wacc.cost_of_capital(data)

0.12194088003229175

## DCF

In [32]:
dcf.df_free_cashflow_forecast(data).T

Year,Base Year,1,2,3,4,5,6,7,8,9,10,Terminal Year
Revenue Growth Rate,NaN,5.000000e-02,5.000000e-02,5.000000e-02,5.000000e-02,5.000000e-02,4.400000e-02,3.800000e-02,3.200000e-02,2.600000e-02,2.000000e-02,2.000000e-02
Revenues,2.543550e+07,2.670728e+07,2.804264e+07,2.944477e+07,3.091701e+07,3.246286e+07,3.389123e+07,3.517909e+07,3.630482e+07,3.724875e+07,3.799372e+07,3.875360e+07
Operating Margin,2.791374e-02,3.000000e-02,3.250000e-02,3.500000e-02,3.500000e-02,3.500000e-02,3.500000e-02,3.500000e-02,3.500000e-02,3.500000e-02,3.500000e-02,3.500000e-02
Operating Income,7.100000e+05,8.012182e+05,9.113858e+05,1.030567e+06,1.082095e+06,1.136200e+06,1.186193e+06,1.231268e+06,1.270669e+06,1.303706e+06,1.329780e+06,1.356376e+06
Net Operating Loss,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Operating Income corrected for NOL,7.100000e+05,8.012182e+05,9.113858e+05,1.030567e+06,1.082095e+06,1.136200e+06,1.186193e+06,1.231268e+06,1.270669e+06,1.303706e+06,1.329780e+06,1.356376e+06
Tax Rate,1.938028e-01,1.938028e-01,1.938028e-01,1.938028e-01,1.938028e-01,1.938028e-01,2.050423e-01,2.162817e-01,2.275211e-01,2.387606e-01,2.500000e-01,2.500000e-01
Taxes Paid,1.376000e+05,1.552784e+05,1.766291e+05,1.997268e+05,2.097131e+05,2.201988e+05,2.432197e+05,2.663008e+05,2.891040e+05,3.112736e+05,3.324451e+05,3.390940e+05
After-Tax Operating Income,5.724000e+05,6.459399e+05,7.347566e+05,8.308402e+05,8.723822e+05,9.160013e+05,9.429732e+05,9.649675e+05,9.815648e+05,9.924326e+05,9.973352e+05,1.017282e+06
Sales to Capital Ratio,NaN,5.500000e+00,5.250000e+00,5.250000e+00,5.250000e+00,5.250000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,NaN
Reinvestment,NaN,2.312318e+05,2.543550e+05,2.670728e+05,2.804264e+05,2.944477e+05,2.856732e+05,2.575733e+05,2.251462e+05,1.887851e+05,1.489950e+05,2.898239e+05
Adjusted Invested Capital,5.333728e+06,5.564960e+06,5.819315e+06,6.086388e+06,6.366814e+06,6.661262e+06,6.946935e+06,7.204508e+06,7.429655e+06,7.618440e+06,7.767435e+06,NaN
ROIC,1.073171e-01,1.160727e-01,1.262617e-01,1.365079e-01,1.370202e-01,1.375117e-01,1.357395e-01,1.339394e-01,1.321145e-01,1.302672e-01,1.283996e-01,7.020000e-02
FCFF,NaN,4.147081e+05,4.804016e+05,5.637674e+05,5.919558e+05,6.215536e+05,6.573001e+05,7.073941e+05,7.564186e+05,8.036475e+05,8.483402e+05,7.274580e+05
Cost of Capital,NaN,1.219409e-01,1.000000e-01,1.000000e-01,1.000000e-01,1.000000e-01,9.404000e-02,8.808000e-02,8.212000e-02,7.616000e-02,7.020000e-02,7.020000e-02
Cumulative Discount Factor,NaN,8.913126e-01,8.102841e-01,7.366220e-01,6.696563e-01,6.087785e-01,5.564499e-01,5.114053e-01,4.725958e-01,4.391501e-01,4.103440e-01,4.103440e-01
Discounted FCFF,NaN,3.696345e+05,3.892618e+05,4.152835e+05,3.964070e+05,3.783885e+05,3.657546e+05,3.617651e+05,3.574802e+05,3.529219e+05,3.481113e+05,NaN

In [12]:
dcf.display_price_value_summary(data)

Current Price: $31.75
Estimated Value: $34.61
Potential upside for the stock: 9.01%

In [40]:
wacc.cost_of_capital_report(data)

Cost of Capital: 12.19%